<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Required meta tags -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="signin.css">
    <link rel="stylesheet" href="usersignincss.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheet/style.css">
     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- in case we have to delete below one -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Internal CSS -->
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css">
    
    <title>Medicare++</title>
  </head>
  <body>
    
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:deepskyblue;">
            <a class="navbar-brand" href="#" >
                <img src="../images/logo.png" width="300" height="55" class="d-inline-block align-top" style="margin: 10px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav justify-content-end">
                   
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/doctor">Doctors</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" >Dr.<%= message %></a>
                    </li>
                    <li class="nav-item">
                        <button class=" btn btn-danger"><a class="nav-link" href="/">Sign Out</a></button>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!-- sidebar -->
<div class="sidebar-container">
    <div class="sidebar-logo">
      <!-- Example single danger button -->
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="material-icons" style="vertical-align: bottom;">
            add
          </span>Availability
        </button>
        
      </div>
    </div>
    
    <form method="POST" action="/confirmedappointments">
        <a  class="sidebar-links" >
            <input type="text" class="form-control" id="validationDefault03" value="<%= message %>" name="username" hidden>
            <div class="sidebar-logo">
              <span class="material-icons" style="vertical-align: middle">
                article
              </span><button type="submit" class="btn btn-warning letresizebutton" >Appointments</button>
            </div>
          </a>     
    </form>
    <form method="POST" action="/timetable">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle">
              payment
            </span><button type="submit" class="btn btn-danger letresizebutton" >Your Profile</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/allpreviousrecords">
        <a href="#" class="sidebar-links">
            <input type="text" class="form-control" id="validationDefault03" value="<%= message %>" name="username" hidden>
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle" >
              library_books
            </span><button type="submit" class="btn btn-info letresizebutton">Records</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/allappointmentrequest">
        <a href="#" class="sidebar-links">
            <input type="text" class="form-control" id="validationDefault03" value="<%= message %>" name="username" hidden>
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle" >
              library_books
            </span><button type="submit" class="btn btn-primary letresizebutton">All Request</button>
          </div>
        </a>
    </form>

  </div>  

  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="info-box">
            <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
                <h5 class="card-header" style="background-color: powderblue; text-align: center;">PATIENTS PREVIOUS APPOINTMENT RECORDS</h5>
                <div class="card-body">
                    <table class="table table-dark" style="background-color: powderblue;">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">PATIENT NAME</th>
                            <th scope="col">DATE</th>
                            <th scope="col">TIME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">MOBILE NO</th>
                            <th scope="col">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(typeof users !=='undefined') { %>
                                <% users.forEach((user)=> { %>
                                    <tr>
                                        <form method="post">
                                        <td id = "style_id"><input type="text"  style="width: 25px;text-align: center;" name="id" value="<%=user.idappointment%>" readonly></td>
                                        <td id = "style_id"><input type="text" name="name" value="<%= user.patientname%>" readonly></td>
                                        <td id = "style_id"><input type="text" style="width: 100px;text-align: center;" name="date" value="<%= user.appointmentdate%>" readonly></td>
                                        <td id = "style_id"><input type="text" style="width: 25px;text-align: center;" name="time" value="<%= user.appointmenttime%>" readonly></td>
                                        <td id = "style_id"><input type="text" name="email" value="<%= user.appointmentemail%>" readonly></td>
                                        <td id = "style_id"><input type="text" style="width: 100px;text-align: center;" name="mobno" value="<%= user.appointmentmobno%>" readonly></td>
                                        <td id = "style_id"><button type="submit" formaction="/deltingpatientrecords" class="btn btn-danger">Delete</button></td>
                                         </form>
                                    </tr>
                                <% }) %>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div> 
    
    
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="usersigninjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

<style>
    .nav-link{
        font-size: medium;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
</style> 