<%- include ('./header1') %>

<section>
    <div class="container">
        <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
            <h5 class="card-header" style="background-color: powderblue;">Add List</h5>
            <div class="card-body">
                    <form action="/viewingdr" method="post">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>Choose Your Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="iprefname">
                                <option selected>Choose...</option>
                                <option value="4">View All Doctors</option>
                                <option value="1">SortBy name</option>
                                <option value="2">SortBy Speciality</option>
                                <option value="3">SortBy Fees</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Choose Your Preference</label>
                            <input type="text" class="form-control" name="enterpref">
                        </div>
                    </div>
                    <button class="btn btn-danger" type="submit">Submit</button>
                </form>
                
                </div>
            </div>        
        </div>
        




    <div class="container">
        <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
            <h5 class="card-header" style="background-color: powderblue;">Doctors List</h5>
            <div class="card-body">
                <table class="table table-dark" style="background-color: powderblue;">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">FEES</th>
                        <th scope="col">SPECIALITY</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% if(typeof users !=='undefined') { %>
                          <% users.forEach((user)=> { %>
                            <tr>
                            <form  method="POST">
                              <td id = "style_id"><input type="text"  style="width: 25px;text-align: center;" value="<%= user.doctorsid %>" readonly></td>
                              <td id = "style_id"><input type="text" value="<%= user.doctorsname%>" readonly></td>
                              <td id = "style_id"><input type="text" value="<%= user.doctorsaddress %>" readonly></td>
                              <td id = "style_id"><input type="text" style="width: 60px;text-align: center;" value="<%= user.doctorsfees%>" readonly></td>
                              <td id = "style_id"><input type="text" value="<%= user.doctorsspeciality%>" readonly></td>    
                            </form>
                            </tr>
                            <% }) %>
                        <%}%>
                    </tbody>
                  </table>
            </div>
        </div>        
    </div>
</section>

<%- include ('./footer') %>

<style>
    .nav-link{
        font-size: medium;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
</style>