<%- include ('../header1') %>

<section>
    <div class="container">
        <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
            <h5 class="card-header" style="background-color: powderblue;">Search Medcine</h5>
            <div class="card-body">
                <form method="post">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>Choose Searching Method</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="iprefname">
                                <option selected>Choose Searching Method</option>
                                <option value="3">View All Medicine</option>
                                <option value="1">Search By Medicine name</option>
                                <option value="2">Search By Symptom</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-danger" style="margin-top: 30px;" formaction="/viewingmedicine" type="submit">Submit</button>                            
                        </div>
                    </div>
                </form>
                
                <% if(mesa == 1) { %>
                    <form method="POST" action="/viewmedicinebyname">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="text" class="form-control"placeholder="Enter Name" name="iname">
                                <input type="hidden" class="form-control" placeholder="Enter Name" value="1" name="ivalue">
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger" type="submit">Submit Name</button>
                            </div>
                        </div>
                    </form>
                <% } else if(mesa == 2) {%>
                    <form method="POST" action="/viewmedicinebyname">
                        <input type="text" class="form-control"placeholder="Enter Name" name="iname">
                        <input type="hidden" class="form-control" placeholder="Enter Name" value="2" name="ivalue">
                        <button class="btn btn-danger" type="submit">Submit Speciality</button>
                    </form> 
                <% } %>
            </div>
        </div>        
    </div>
</section>
<section class="container">
    <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
        <h5 class="card-header" style="background-color: powderblue; text-align: center;">Medcine List</h5>
        <div class="card-body">
            <table class="table table-dark" style="background-color: powderblue;">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">USAGE</th>
                        <th scope="col">SYMPTOM</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof users !=='undefined') { %>
                        <% users.forEach((user)=> { %>
                            <tr>
                                <td id = "style_id"><input type="text"  style="width: 25px;text-align: center;" value="<%= user.idmedicine %>" readonly></td>
                                <td id = "style_id"><input type="text" value="<%= user.medicinename%>" readonly></td>
                                <td id = "style_id"><input type="text" value="<%= user.medicineusage %>" readonly></td>
                                <td id = "style_id"><input type="text" style="width: 60px;text-align: center;" value="<%= user.symtomtype%>" readonly></td>
                            </tr>
                        <% }) %>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</section>

<%- include ('../footer') %>

<style>
    .nav-link{
        font-size: medium;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
</style>